
.cv-container {
  margin-top: 3rem !important;
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.left-column {
  background-color: #004e89; 
  color: white;
  width: 30%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.role {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info {
  font-size: 1em;
}

.contact-info p {
  margin: 5px 0;
}


.right-column {
  background-color: white;
  width: 70%;
  padding: 20px;
  border-radius: 0 10px 10px 0;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4em;
  color: #004e89; 
  border-bottom: 2px solid #004e89;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6;
}
span{
  font-weight: bold;
}


.social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.social-media i {
  margin-top: 3rem;
  font-size: 30px;
  color: #ffffff;
  transition: color 0.3s;
}

.social-media i:hover {
  color: #007bff;
}


.career-planning {
  margin-top: 30px;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
}

.career-planning h3 {
  font-size: 1.5rem;
  color: #00796b;
}

.career-planning p {
  font-size: 1rem;
  color: #555;
}




@media screen and (max-width: 768px) {
  .cv-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    width: 100%;
  }
}
